.vscode
*.code-workspace

node_modules
vendor

config/dbConfig.php
log/errors.log

public/css
public/js

ftpConfig.js

package-lock.json

test
test.js
testModule.js

Main/Views/sections/yashare-help.php
