vendor
node_modules

config/config.php
config/dbConfig.php

log/errors.log

public/css/**/*.css
public/css/**/*.css.map
public/js/**/*.js
public/js/**/*.js.map

ftpConfig.js

package-lock.json

.vscode
*.code-workspace
