[submodule "mvc-core"]
	path = vendor/militer/mvc-core
	url = https://github.com/htmlcssjspro/mvc-core
[submodule "cms-core"]
	path = vendor/militer/cms-core
	url = https://github.com/htmlcssjspro/cms-core
[submodule "dev-core"]
	path = vendor/militer/dev-core
	url = https://github.com/htmlcssjspro/dev-core
[submodule "assets"]
	path = vendor/militer/assets
	url = https://github.com/htmlcssjspro/assets
