<?php

return [
    'driver'      => 'mysql',
    'host'        => 'localhost',
    'port'        => '3306',
    'name'        => 'dbName', // Имя базы даных
    'username'    => 'username', // Имя пользователя
    'password'    => 'password', // Пароль
    'pdo_options' => [
        PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
        PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC
    ],
];
