.btn {
    & {
        @extend %btn;
    }
    $btn: &;

    &_inline {
        @extend #{$btn};
        display: inline-block;
    }

    &_icon {
        @extend #{$btn};
        @extend %flex-c;
    }

    &_danger {
        @extend #{$btn};
        background: $danger;
    }
}
